body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	justify-content: space-between;
}

.postcard-header img {
	width: 100px;
	height: auto;
}

.postcard-header h1 {
}

.postcard-body {
	display: flex;
	border-bottom: 1px;
}
.body-right {
	float: right;
	width: 50%;
}

.body-left {
	float: left;
	width: 50%;
}

.input {
	font-size: 80px;
	padding: 12px;
	margin: auto;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: rgb(61, 156, 224);
	padding: 12px;
}
